$color-primary: #0a81ab;
$color-primary-light: #6dcbee;
$color-primary-dark: #0c4271;
$color-primary-text: #333333;
$color-light: #fff;
$color-dark: #000;
$color-grey-light: #f7f7f7;
$color-grey-dark: #222;
$color-warning: #ff4500;

$font-sm: 1.6rem;
$font-md: 2.4rem;
$font-lg: 3.6rem;
$font-xlg: 4.8rem;
$font-xxlg: 7rem;

$grid-width: 114rem;
