.composition{
    top: 18%;
    left: -15%;
    position: relative;
    z-index: 1;

    animation: fadeIn 2.5s ease-in;

    &__image{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-dark, .40);
        border-radius: 2px;
        position: absolute;

        outline-offset: 1rem;
        transition: all .2s;

        &--1{
            top: 0;
            left: -1rem;
        }

        &--2{
            top: 7rem;
            right: 0;
        }

        &--3{
            top: 15rem;
            right: 20%;
        }

         &:hover{
              transform:scale(1.08) translateY(-.5rem);
              box-shadow: 0 2.5rem 4rem rgba($color-dark, .65);
              z-index: 2;
              outline: 1rem solid $color-primary;
            }
    }
    &:hover &__image:not(:hover){
        transform: scale(.95);
    }
}
