.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 90%;
  height: 14vh;
  max-width: 45rem;
  width: 100%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);

  &__pop-up--container {
    display: flex;
    height: 27%;
    justify-content: space-evenly;
    visibility: hidden;
  }

  &__pop-up--holder {
    border: 0.2rem solid;
    border-radius: 0.8rem;
    max-width: 6rem;
  }
  &__tabs {
    display: flex;
    align-items: center;
    border: 0.1rem solid rgba(153, 153, 153, 0.301);
    border-radius: 1.2rem;
    padding: 0.5rem;
    height: 6.5rem;
    background-color: rgba($color-grey-light, 1);
    justify-content: space-between;

    &--holder {
      box-shadow: 0 2px 3px rgba(153, 153, 153, 0.501);
      border-radius: 1.2rem;
      border: 0.1rem solid rgba(153, 153, 153, 0.301);
      cursor: pointer;
      width: 4.5rem;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;

      transition: all, 0.5s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &:hover {
        transform: scale(1.1) translateY(-0.5rem);
        box-shadow: 0, 1rem, 2rem rgba($color-dark, 0.5);
      }

      &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0, 0.5rem, 1rem rgba($color-dark, 0.5);
      }
    } 
  }
  // &:hover &--holder:adj
}
