body {
  font-family: 'Asap', sans-serif;
  font-family: 'Asap Condensed', sans-serif;
}

.text-box {
  &__heading {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    &-primary {
      text-transform: uppercase;
      font-size: $font-xxlg;
      font-weight: 900;
      display: block;
      letter-spacing: 1rem;
      margin-bottom: 2rem;
    }

    &--1 {
      @include firstShade;
      display: inline-block;
      animation: moveInRight 1s ease-out;
    }
    &--2 {
      @include secondShade;
      display: inline-block;
      animation: moveInLeft 1s ease-out;
    }
  }

  &__sub-heading {
    color: $color-primary-text;
    text-transform: capitalize;
    font-size: $font-lg;
    font-weight: 500;
    line-height: 4rem;
    display: block;
    letter-spacing: .2rem;

    animation: moveInTabs 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

/* ---about section--- */
.container__heading {
  text-align: center;
  font-size: $font-lg;
  margin-top: 5%;
  margin-bottom: 2%;

  &--1 {
    @include firstShade;
  }

  &--2 {
    @include secondShade;
  }
}

.card {
  &__info {
    margin: 5%;
    font-size: $font-sm;
    text-align: start;
  }

  &__heading--2 {
    font-family: Asap, sans-serif;
    color: $color-primary-dark;
    font-weight: 700;
    font-size: $font-md;
    margin-bottom: 1rem;
  }

  &__info--text {
    color: $color-primary;
    line-height: 1.5;
  }
}

.about {
  &__title {
    font-size:$font-md;
  }

  &__par {
    font-size: $font-sm;
    word-spacing: 0.4rem;
    line-height: 1.7;
  }
}
