.u-btn {
  &:link,
  &:visited {
    text-decoration: none;
  }
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem;
}

.u-margin-bottom {
  margin-bottom: 5rem;

  @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-lg {
  margin-bottom: 10rem;

  @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-xlg {
  margin-bottom: 20rem;

  @include respond(tab-port) {
        margin-bottom: 10rem !important;
    }
}

.u-paragraph{
    color: $color-primary-text;
    font-family: Asap, sans-serif;
    font-weight: 600;
}

.u-text-align-start{
 text-align: start;
}

.u-title{
    color: $color-primary-text;
    font-family: Asap, sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}
.u-hidden {
  opacity: 0;
  transform: translateY(10rem);
}



