.section-project {
  padding: 1rem 5rem;

  @include respond(phone) {
    padding: 0;
  }
}

.project {
  &__box {
    position: relative;
    display: block;
    height: 29rem;
    width: 100%;

    @include respond(tab-port) {
      height: 47rem;
    }

    @include respond(phone) {
      height: 28rem;
      margin-bottom: 5rem;
    }
  }

  &__photo-box {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 29rem;
    width: 100%;
    background-size: cover;
    background-position: top;

    @include respond(tab-port) {
      height: 47rem;
    }

    @include respond(phone) {
      height: 25rem;
      margin-bottom: 5rem;
    }

    &-1 {
      background-image: url(../images/project--1.png);
    }

    &-2 {
      background-image: url(../images/project--3.png);
    }
  }

  &__heading {
    font-size: 4.8rem;
    font-weight: 300;
    text-align: right;
    letter-spacing: 2px;
    word-spacing: 1rem;
    text-transform: uppercase;
    color: $color-grey-dark;
    position: absolute;
    top: 19rem;
    right: 1rem;
    width: 50%;

    @include respond(tab-port) {
      top: 35rem;
      width: 30%;
      font-size: 4.2rem;
    }

    @include respond(phone) {
      top: 25rem;
      width: 38%;
      font-size: 2.8rem;
    }
  }

  &__heading-span {
    padding: 0.4rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-orange-light, 0.85),
        rgba($color-orange-dark, 0.85)
      );
    }

    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-green-light, 0.85),
        rgba($color-green-dark, 0.85)
      );
    }
  }

  &__text-box {
    font-size: 1.8rem;

    @include respond(tab-land) {
      text-align: center;
    }
  }
}

//INTERSECTION OBSERVER
.container {
  transition: all 1s;
}
